body{
    background:url(http://orig12.deviantart.net/174e/f/2014/198/e/3/tmnt_rainbow_gif_by_kaczusia1999-d7r1kgv.gif);
}
#words{
    color:magenta;
    font-size:190px;
}
#reason{
    color:brown;
    font-size:150px;
}